<nav class="fixedMenu navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-md navbar-light bg-light">
  <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
    <a class="navbar-brand" href="#">Course Menu</a>
    
    <div class="collapse navbar-collapse" id="courseMenuSubMenu" #courseMenuSubMenu>
     <!-- menu list is generated dynamically from code -->
     
<!--      
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ">
          <li class="nav-link">
            <a class="dropdown-item" tabindex="-1" href="#">HTML</a>
          </li>
          <li>
            <a class="dropdown-item" tabindex="-1" href="#">CSS</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
         
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">2New dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" tabindex="-1" href="#">2nd level dropdown</a></li>
              <li><a class="dropdown-item" tabindex="-1" href="#">2nd level dropdown</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">3Another dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">3rd level dropdown</a></li>
                  
                  <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1" href="#">4 New dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" tabindex="-1" href="#">4 level dropdown</a></li>
                      <li><a class="dropdown-item" tabindex="-1" href="#">4 level dropdown</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">5 Another dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">5 level dropdown</a></li>
                          <li><a class="dropdown-item" href="#">5 level dropdown</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <a class="btn btn-default" type="button">Tutorials2</a> -->
    </div>
  </nav>