<div class="row">
    <div class="col-md-6 col-lg-6 offset-md-3">
        <h3>Login</h3>
        <hr>
    
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="mb-3">
            <label>UserName</label>
            <input type="text" class="form-control" formControlName="email">
            <div  class="text-danger">{{showFormControlErrors('email')}}</div>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password">
            <div  class="text-danger">{{showFormControlErrors('password')}}</div>
        </div>
        <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>
</div>